<!DOCTYPE html>
<html>
  <head>
    <title>PATS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <%# <p>This is to be shown in every page 1</p> %>
    <%= yield %>
     <%# <p>This is to be shown in every page 2</p> %>

  <%= render partial: "partials/footer.html.erb"%>

  </body>
</html>
